h1.contact__text {
  font-size: 60px;
}

p.contact__text {
  font-size: 18px;
  line-height: 30px;
  color: rgba(29, 29, 36, 0.75);
  font-weight: 400;
}

input.contact {
  display: block;
  width: 100%;
  padding: 0 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  height: 50px;
  line-height: 46px;
  margin: 20px 0px;
  outline: none;
  color: rgb(82, 7, 7);
  font-size: 15px;
  letter-spacing: 0.1px;
  background: none;
  border: 2px solid rgb(82, 7, 7);
}

textarea#message {
  height: 120px;
  background: none;
  padding: 0px 20px;
  width: 100%;
  line-height: 46px;
  color: rgb(82, 7, 7);
  font-size: 15px;
  letter-spacing: 0.1px;
  border: 2px solid rgb(82, 7, 7);
}

button.btn.contact.pointer {
  justify-content: center;
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid rgb(82, 7, 7);
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s all ease;
  height: 50px;
  width: 180px;
  margin: 10px 10px;
  background-color: rgb(82, 7, 7);
}

button.btn.contact.pointer:hover {
  background-color: rgba(82, 7, 7, 0.541);
  border: 2px solid rgb(82, 7, 7);
}
